<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gamurar.gamlang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@drawable/ic_brain"
        android:label="Gamlang"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustPan"
        tools:replace="android:label">
        <activity android:name=".View.WordDetailActivity"></activity>
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.DrawerActivity"></activity>
        <activity
            android:name=".View.ExploreActivity"
            android:launchMode="singleTop"
            android:parentActivityName="View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="View.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LearnWordsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="View.MainActivity" />
        </activity>
        <activity
            android:name=".View.DictionaryActivity"
            android:launchMode="singleTop"
            android:parentActivityName="View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="View.MainActivity" />
        </activity>
        <activity
            android:name=".View.VideoActivity"
            android:launchMode="singleTop"
            android:parentActivityName="View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="View.MainActivity" />
        </activity>
        <activity
            android:name=".View.CardCreationActivity"
            android:parentActivityName=".View.ExploreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.ExploreActivity" />
        </activity>
        <activity
            android:name=".View.SettingsActivity"
            android:parentActivityName="View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="View.MainActivity" />
        </activity>
    </application>

</manifest>